
<ion-content [fullscreen]="true">
 
  <div id="container">
     <app-devices *ngIf="devicesTab" [devices]="devicesList"></app-devices>
     <app-settings *ngIf="settingsTab"></app-settings>
    <div class="color-picker">
      <div id="color-wheel"></div>
      <div class="manual-color-picker">
        <div class="red">
          <span>RED</span>
          <input type="number" [(ngModel)]="red" max="255" min="0" (ngModelChange)="changeColor()">
        </div>
         <div class="green">
          <span>GREEN</span>
          <input type="number" [(ngModel)]="green" max="255" min="0" (ngModelChange)="changeColor()">
        </div>
         <div class="blue">
          <span>BLUE</span>
          <input type="number" [(ngModel)]="blue" max="255" min="0"(ngModelChange)="changeColor()">
        </div>
       
      </div>
    
  </div>

    <div class="controls">
       <div class="speed">
          <span>Effect speed</span>
          <ion-range [pin]="true" [pinFormatter]="pinFormatter" min="1" max="100" step="1" [(ngModel)]="effectSpeed" (ionChange)="sendSpeed()"></ion-range>
        </div>
      <div>
       
        <div class="main-controls">
          <button (click)="sendRGB()" (click)="anim($event)">
            set
          </button>
          <button (click)="openEffects()" (click)="anim($event)">
            <img src="assets/images/rgb.png" alt="">
          </button>
        </div>

        <div class="on-off-wrapper">
          <button class="on-off" (click)="turnOffOn()" (click)="anim($event)">
            <img src="assets/images/power.png" alt="" >
          </button>
        </div>

        <div class="brightness-wrapper">
          <button class="on-off" (click)="brightnessUp()" (click)="anim($event)">
            <img src="assets/images/brightness-up.png" alt="" >
          </button>
          <button class="on-off" (click)="brightnessDown()" (click)="anim($event)">
            <img src="assets/images/brightness-down.png" alt="">
          </button>
        </div>
       
      </div>
      <div class="bluetooth-wrapper">
         <button class="bluetooth" (click)="scan()" (click)="anim($event)">
          <img src="assets/images/bluetooth.png" alt="">
          </button>
          <button class="bluetooth" *ngIf="selectedDevice" (click)="disconnect()" (click)="anim($event)">
            <img src="assets/images/disconnect.png" alt="">
          </button>
      </div>
      <!-- <button>
          <h1>ON</h1>
      </button>
      <button>
          <h1>OFF</h1>
      </button>
      <button>
          <h1>SET</h1>
      </button>
      <button class="bluetooth">
        <img src="assets/images/bluetooth.png" alt="">
      </button> -->
    </div>
  </div>
  
</ion-content>
